@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply !scroll-smooth;
    }
}

#resize-mob{
    @media (min-width: 320px) and (max-width: 767px){    
        margin-bottom: 15rem;
    }
}

#welcome-text{
    @media (min-width: 320px) and (max-width: 767px){
        /* margin-bottom: 7rem;
        margin-top: 3rem; */
        font-size: 1.2rem;
    }
    /* @media (min-width: 320px) and (max-width: 639px){
        margin-bottom: 6rem;
    }

    @media (min-width: 640px) and (max-width: 767px){
        margin-bottom: 7rem;
        margin-top: 3rem;
        font-size: 1.6rem;
    } */

    @media (min-width: 768px){
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

#intro{
    @media (min-width: 320px) and (max-width: 767px){
        display: inline;
        margin-left: 0;
        text-align: justify;
        align-items: center;
        margin-top: 20px;

        #text-box{
            padding: 0;
        }

        #pfp{
            display: flex;
            padding-bottom: 2rem;
            justify-content: center;
            margin-left: 0;
        }
        
        img{
            align-content: center;
            width:150px;
            height:150px;
        }

        h1{
            font-size:large;
            padding: 0;
        }
        
        p{
            font-size: small;
            padding: 0;
        }
    }
}

#resume_box{
    @media (min-width: 320px) and (max-width: 767px){
        h1{
            font-size: large;
        }
    }
}

@media (min-width: 320px) and (max-width: 467px){
    #icons-style{
        #social-styles{
            height: 40px;
            width: 40px;
        }
    }
}